:root {
  --dark-blue: #262e38;
  --light-gray: #969fad;
  --medium-gray: #7c8798;
  --orange: #fc7614;
  --white: #ffffff;
  --very-dark-blue: #131518;
  --black-gradient: radial-gradient(
    98.96% 98.96% at 50% 0%,
    #232a34 0%,
    #181e27 100%
  );
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

.App {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--very-dark-blue);
}

.text-with-bg {
  display: inline-block;
  padding: 4px 20px;

  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  border-radius: 22.5px;
  color: var(--orange);
  background-color: var(--dark-blue);
}
